
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;     
}
body{
    background-image: url("../imagem/FlorestaBambu.avif");
    background-attachment: fixed;
    background-size: 100% 100%;
}
header div{
    display: inline;
}

header img{
    
    margin-top: 0.4%;
    margin-bottom: -1.2vw;
}
   
header{
    background-color: rgba(167, 235, 72, 0.888);
    text-align: center;
    font-size: 1.5vw;
}
header ul li{
    display: inline;   
}
header ul li:last-child{
    float: right;

    
}
header ul li a{
    display: inline-block;
    color: rgb(93, 68, 10);
    text-decoration: none;  
    padding: 1.2vw; 
    margin-left: 3%;
 }
 header ul li a:hover{
   color: rgb(207, 204, 11);
   text-shadow: 0px 0px 7px rgb(37, 34, 2);

 }
 header img:hover{
 
   background-image: url(../imagem/MiniLogoGB_SemFundo2.png);
   background-size: 101%;

   

 }
aside{
    display: flex;  
    text-align: center;
    background-color: #322c1c;
    color:  rgb(170, 206, 22);
}
aside div{
    margin-right: 6%;
    margin-left: 6%;
    margin-block: 2%;
    font-size: 2vw;   
}
aside div h1{
    margin-left: -150px;
    margin-right: -150px;
    font-size: 3vw;
}
aside div ul a{
    background-color: rgb(244, 16, 16);    
    display: inline-block;
    color: rgb(238, 244, 249);
    text-decoration: none;  
    padding: 6%;
    border-radius: 1vw; 
    font-size: 1.7vw;
}
aside ul li a:hover{
    background-color: rgb(12, 136, 31) ;
    color: rgb(248, 248, 247);
    box-shadow: 0px 0px 20px rgb(194, 243, 1);
} 
main{
    background-color: white;
    background-image: url(../imagem/LogoGB.png);
    background-repeat: no-repeat;
    background-size: 27%        
}
main div{
    text-align: center;
    padding: 5%;
    color:  #312a1b;
    font-size: 2vw;  
    background-color: rgba(73, 143, 15, 0.779);
    

}
main div h2{
    font-size: 3vw;
    margin-bottom: 3%;
}

#resistencia{
    background-color: rgba(50, 44, 28, 0.766);
    display: flex;
    margin-top: 5%;
}
#resistencia div{
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-block: 5%;
    font-size: 2vw;
    color: rgb(170, 206, 22);   
}
#resistencia div h2{
    font-size: 3vw;
    margin-block: 5%;
}
#disponibilidade{
    display: flex;
    background-color: rgba(50, 44, 28, 0.766);
    margin-block: 5%;
   
}
#disponibilidade div{
    text-align: center;
    margin-right: 12%;
    margin-left: 12%;
    margin-block: 8%;
    font-size: 2vw;
    color:rgb(170, 206, 22);
}
#disponibilidade div h2{
    font-size: 3vw;
    margin-block: 5%;
}
#sustentabilidade{
    background-color: rgba(50, 44, 28, 0.766);
    display: flex;
    margin-block: 5%;

}
#sustentabilidade div{
text-align: center;
margin-block: 5%;
margin-left: 10%;
margin-right: 10%;
font-size: 2vw;
color: rgb(170, 206, 22);
}
#sustentabilidade div h2{
    font-size: 3vw;
    margin-block: 5%;
}
#Contribuição{
    background-color: rgba(50, 44, 28, 0.766);
    display: flex;
    margin-block: 5%;
}
#Contribuição div{
    text-align: center;
    margin-block: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2vw;
    color: rgb(170, 206, 22);
    }
#Contribuição div h2{
        font-size: 3vw;
        margin-block: 5%;
    }
    footer{
        text-align: center;
        background-color: rgba(50, 44, 28, 0.893);
        color: rgb(134, 134, 132);
        display: flexbox;
        
    }
    footer h1{
        line-height: 3vw;
        font-size: 1.5vw;

    }
    #sup{
        font-size: 1vw;
    }
    #inf{
        text-decoration: none;
        font-size: 1vw;
        margin-top: 1vw;

    }
    #inf a{
        color:rgba(169, 206, 22, 0.695);
        line-height: 3vw;
        
    }
    #inf a:hover{
        color:rgb(170, 206, 22);


    }